In [1]:
import pandas as pd
import numpy as np
from utils import *

In [2]:
train, test = load_data(sort=True, points=False)

In [20]:
train['month'] = train.date.apply(lambda date: (date.year - 2016) * 12 + date.month)

tmp = train.groupby('id').month.apply(set)
x = tmp.apply(lambda row: max(row))
x.value_counts() / x.count() * 100

24    68.060972
12    13.215112
23     9.820341
22     2.655884
11     1.466825
21     1.165798
20     0.867507
10     0.608897
19     0.500800
18     0.335235
9      0.301028
17     0.232612
8      0.147777
16     0.136831
7      0.106728
15     0.102623
14     0.076625
13     0.067047
6      0.053364
5      0.028734
4      0.027366
3      0.013683
2      0.005473
1      0.002737
Name: month, dtype: float64

In [19]:
test['month'] = test.date.apply(lambda date: (date.year - 2016) * 12 + date.month)

tmp = test.groupby('id').month.apply(set)
x = tmp.apply(lambda row: max(row))
x.value_counts() / x.count() * 100

21    50.816143
23    49.183857
Name: month, dtype: float64